---
import type { Page } from "astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/blog/Main.astro";
import Header from "@components/blog/Header.astro";
import Footer from "@components/blog/Footer.astro";
import Pagination from "@components/blog/Pagination.astro";
import Card from "@components/blog/Card";
import { SITE } from "@config";
import { getReadingTime } from "@utils/readingTime";

export interface Props {
  page: Page;
}

const { page } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`} isBlog={true}>
  <Header activeNav="posts" />
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    <ul>
      {
        page.data.map(({ data, slug, body }) => (
          <Card
            href={`/blog/${slug}/`}
            frontmatter={data}
            timeToRead={getReadingTime(body)}
          />
        ))
      }
    </ul>
  </Main>

  <Pagination
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
  />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
