---
import work from "@data/work.json";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/main/work/*.{jpeg,jpg,png,gif,webp}",
);
---

<section
  id="work"
  class="max-w-7xl mx-auto col-span-full grid grid-cols-2 gap-4 md:grid-cols-4 md:gap-8 lg:grid-cols-12 py-12 md:py-24 lg:py-40 space-y-3 lg:space-y-6"
>
  <header class="col-span-full space-y lg:space-y-2 leading-heading">
    <p
      class="uppercase tracking-wide leading-heading text-sm md:text-base lg:text-lg"
    >
      can I see your projects?
    </p>
    <h1 class="font-serif text-2xl md:text-3xl lg:text-5xl font-bold uppercase">
      Work I&apos;ve done
    </h1>
  </header>

  <div class="col-span-full space-y-12 md:space-y-16">
    {
      work.map((work) => (
        <div class="space-y-6 items-center flex flex-col lg:flex-row lg:even:flex-row-reverse relative">
          <Image
            src={images[work.img]()}
            alt={`${work.name}'s project image`}
            class="shadow-2xl rounded-xl md:rounded-3xl saturate-0 transition-all duration-200 ease-in-out hover:saturate-100 lg:h-[430px] lg:w-[590px] lg:object-cover"
          />
          <div class="space-y-6 md:w-3/4 md:self-start lg:p-16">
            <div class="leading-heading space-y">
              <span class="uppercase tracking-wide leading-heading text-sm md:text-base text-skin-muted">
                {work.type}
              </span>
              {work.links.map((link) => {
                return (
                  <a href={link.website} target="_blank" class="unset block">
                    <h2 class="font-serif text-2xl md:text-4xl font-medium xl:w-4/6">
                      {work.name}
                    </h2>
                  </a>
                );
              })}
            </div>
            <p class="leading-normal">{work.info}</p>

            <div class="text-skin-muted text-sm leading-normal space-x-4">
              {work.tags.map((tag) => {
                return <span>{tag}</span>;
              })}
            </div>

            {work.links.map((link) => {
              return (
                <div class="space-x-4 w-min">
                  {link.website && (
                    <a href={link.website} target="_blank" class="bg-none">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-external-link"
                      >
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
                        <polyline points="15 3 21 3 21 9" />
                        <line x1="10" y1="14" x2="21" y2="3" />
                      </svg>
                    </a>
                  )}
                </div>
              );
            })}
          </div>
        </div>
      ))
    }
  </div>
</section>
