---
import work from "@/data/work.json";

import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import { Icon } from "astro-icon/components";
const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/main/work/*.{jpeg,jpg,png,gif,webp}",
);
---

<section
	id="work"
	class="col-span-full mx-auto grid max-w-7xl grid-cols-2 gap-4 space-y-3 py-12 md:grid-cols-4 md:gap-8 md:py-24 lg:grid-cols-12 lg:space-y-6 lg:py-40"
>
	<header class="space-y leading-heading col-span-full lg:space-y-2">
		<p class="leading-heading text-sm tracking-wide uppercase md:text-base lg:text-lg">
			can I see your projects?
		</p>
		<h1 class="font-serif text-2xl font-bold uppercase md:text-3xl lg:text-5xl">
			Work I&apos;ve done
		</h1>
	</header>

	<div class="col-span-full space-y-12 md:space-y-16">
		{
			work.map((work) => (
				<div class="relative flex flex-col items-center space-y-6 lg:flex-row lg:even:flex-row-reverse">
					<Image
						src={images[work.img]()}
						alt={`${work.name}'s project image`}
						class="rounded-xl shadow-2xl saturate-0 transition-all duration-200 ease-in-out hover:saturate-100 md:rounded-3xl lg:h-[430px] lg:w-[590px] lg:object-cover"
					/>
					<div class="space-y-6 md:w-3/4 md:self-start lg:p-16">
						<div class="leading-heading space-y">
							<span class="leading-heading text-muted font-mono text-sm tracking-wide uppercase md:text-base">
								{work.type}
							</span>
							{work.links.map((link) => {
								return (
									<a href={link.website} target="_blank" class="unset block">
										<h2 class="font-serif text-2xl font-medium md:text-4xl xl:w-4/6">
											{work.name}
										</h2>
									</a>
								);
							})}
						</div>
						<p class="text-lg leading-normal">{work.info}</p>

						<div class="text-muted space-x-4 font-mono text-sm leading-normal">
							{work.tags.map((tag) => {
								return <span>{tag}</span>;
							})}
						</div>

						{work.links.map((link) => {
							return (
								<div class="w-min space-x-4">
									{link.website && (
										<a
											href={link.website}
											target="_blank"
											class="hover:text-accent inline-block bg-none hover:rotate-6"
										>
											<span class="sr-only">Featured Website</span>
											<Icon
												aria-hidden="true"
												class="h-6 w-6"
												focusable="false"
												name="tabler:external-link"
											/>
										</a>
									)}
								</div>
							);
						})}
					</div>
				</div>
			))
		}
	</div>
</section>
