---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

// Font setup
import "@fontsource-variable/alegreya";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body
		class="bg-global-bg text-global-text grid min-h-screen w-full grid-cols-[1fr_minmax(0,65ch)_1fr] grid-rows-[auto_1fr_auto] px-4 pt-16 font-normal antialiased *:col-start-2 sm:px-8 lg:gap-x-8"
	>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main
			id="main"
			class="col-span-full col-start-1! grid grid-cols-subgrid content-start *:col-start-2"
		>
			<slot />
		</main>
		<Footer />
		<script is:inline type="speculationrules">
			{
				"prefetch": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "immediate"
					}
				],
				"prerender": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "moderate"
					}
				]
			}
		</script>
	</body>
</html>
